<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4lUDTtc5uUTy4TGpD63gYgvBFf_oNapA</string>
	<key>GCM_SENDER_ID</key>
	<string>264817825404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-ecommerce-app-5efa9</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-ecommerce-app-5efa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264817825404:ios:f914b39ee96c14a2ac5bf9</string>
</dict>
</plist>